{% load bootstrap4 %}
{% load  static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     {% if title %}
    <title> C.A.N {{title}}</title>
    {% else %}
    <title> C.A.N </title>
    {% endif %} 
    {% block styles %} {% bootstrap_css %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/com.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Trochut&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/0aff1cb243.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=Joan&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/0aff1cb243.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0aff1cb243.js" crossorigin="anonymouso"></script>
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     {% endblock %}
</head>

<body style="background-color:rgba(244,247,246,.5)"> 
      <div id="navbar">
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <hr>
          <a href="{% url 'home_view' %}"  style="text-decoration: none; font-weight: bold; "class="">Home</a>
          <hr>
          <a class="" href="/profile/{{user.id}}" style="text-decoration: none; font-weight: bold;" title="User"><i class="fa-solid fa-user fa-lg mr-2"></i>{{user}}</a>
          <hr>
          <a href="{% url 'update-profile' %}" class="">Update Profile</a>
          <hr>
          <a href="{% url 'donate_funds' %}" class="">Donate Fund</a>
          <hr>
          <a href="{% url 'register' %}" class=""> Register</a>
          <hr>
          <a href="{% url 'logout' %}" class="">Log Out</a>
          <hr>
          <a href="{% url 'login' %}" class="">Log In</a>
          <hr>
    
          {% comment %} {% if user.is_authenticated%}
   
          {% else%}
       
          {% endif%}   {% endcomment %}
        </div>
        <div id="main">
          <button class="openbtn" onclick="openNav()">☰MENU</button>  
          {% comment %} <div style="float:right;">
            <form class="form-inline mx-auto" role="search" action="{% url 'search' %}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" role="search" placeholder="Search User" aria-label="Search" name="username">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
             </form>
          </div> {% endcomment %}
         
          <hr>
          {% block content %}{%endblock%} 

          {% include 'footer.html' %}
        </div>
      </div>
   
    {% block scripts %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
      <script src="{% static 'js/com.js' %}"></script>
      {% endblock %}
</body>
</html>