{% extends 'base.html' %}
{% load static %}
{% block content %}

  <hr>
  <h5 class="text-center">Construction Materials</h5>
  <hr>
  <div class="container">
    <div class="row m-3 p-3">
      <div class="card col-md-6 ">
        
        <img src="{% static 'images/timber.jpg' %}" alt="timber">
      </div>

      <div class=" col-md-4 ">
        <h5> Timber </h5>
        <ul>
          <li>Description : Both strull and cuffer timber - Offer cutting and delivery services.</li>
          <li>Price : Kshs.290 per pluck. </li>
          <li>Contact Information : 0722 341003</li>

         
          <button onclick="order();">Order now </button>

        </ul>



      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      
      <div class="col-md-4 ">
        <h4>Bricks</h4>
        <ul>
          <li>Description : Yellow and grey stones in plenty(free delivery).</li>
          <li>Price : Kshs. 22 & Kshs. 32 per stone.</li>
          <li>Contact Information : 0724 351004</li>
          
          <button onclick="order();">Order now</button>
         

        </ul>

      </div>

      <div class="card col-md-6 ">
        
        <img src="{% static 'images/bricks.jpg' %}" alt="bricks">
      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      <div class="card col-md-6 ">
        
        <img src="{% static 'images/ironrods.jpg' %}" alt="ironrods">
      </div>

      <div class="col-md-4 ">
        <h5>Iron rods</h5>
        <ul>
          <li>Description : Small, medium and large iron rods</li>
          <li>Price : Kshs. 250, 370 & 510 respectively.</li>
          <li>Contact Information : 0792 345001</li>

          <button onclick="order();">Order now </button>

        </ul>
      </div>
    </div>


   <hr>

    <div class="row m-3 p-3">

      <div class=" col-md-4 ">
        <h5> Sewer Pipes </h5>
        <ul>
          <li>Description : Sewer pipes, 3 & 4 metres (both orange and grey)</li>
          <li>Price : Kshs. 450</li>
          <li>Contact Information : 0789 341003</li>

        
          <button onclick="order();">Order now </button>

        </ul>

      </div>

      <div class="card col-md-6 ">
        
        <img src="{% static 'images/sewerpipes.jpg' %}" alt="pipes">
      </div>
    </div>
     <hr>

     <div class="row m-3 p-3">
      <div class="card col-md-6 ">
        
        <img src="{% static 'images/construction.jpg' %}" alt="steel">
      </div>

      <div class=" col-md-4 ">
        <h5> Long steel rods </h5>
        <ul>
          <li>Description : Steel rods , both 2 & 3 metres long. Offer cutting services.</li>
          <li>Price : Kshs. 1350 per metre.</li>
          <li>Contact Information : 0712 435670</li>

        
          <button onclick="order();">Order now </button>

        </ul>



      </div>
    </div>
     <hr>
     <div class="row m-3 p-3">

      <div class=" col-md-4 ">
        <h5> Bull Dozer </h5>
        <ul>
          <li>Description : Bulldozer in near mint condition.Serviced every three months so low probability of breaking down.</li>
          <li>Price per day : Kshs. 7,000</li>
          <li>Contact Information : 0724 196745</li>

        
          <button onclick="order();">Hire now </button>

        </ul>

      </div>

      <div class="card col-md-6 ">
        
        <img src="{% static 'images/bulldozer.webp' %}" alt="bulldozer">
      </div>
    </div>

    <hr>

  </div>


{% endblock content %}

{% block script %}

<script type="text/javascript">

  function order() {
    swal({
              title: "Order succesfully placed!",
              text: "Your order was sent to the vendor!Vendor will reach out to you within 24 hrs/Call the number listed!",
              icon: "success",
              button: "Thank you and come again!",
            });
    

  } 
</script>
   
  {% endblock %}