{% extends 'base.html' %}
{% load static %}
{% block content %}
 
  <div class="container">
     <h3 class="text-dark" style="font-size: 40px"><b>Construction Materials</b></h3>
  <hr>
    <div class="row m-3 p-3">
      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/timber.jpg' %}" alt="timber">
      </div>

      <div class=" col-md-5 ">
        <h5 class="text-center"> Timber </h5>
        <ul>
          <li>Description : Both strull and cuffer timber - Offer cutting and delivery services.</li>
          <li>Price : Kshs.290 per pluck. </li>
          <li>Contact Information : 0722 341003</li>
          <br>
          
         <button type="button" onclick="order();" class="btn btn-warning"> Order now</button>  
        </ul>
      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      
      <div class="col-md-5 ">
        <h4 class="text-center">Bricks</h4>
        <ul>
          <li>Description : Yellow and grey stones in plenty(free delivery).</li>
          <li>Price : Kshs. 22 & Kshs. 32 per stone.</li>
          <li>Contact Information : 0724 351004</li>
          <br>
          
         <button type="button" onclick="order();" class="btn btn-warning"> Order now</button>  
        </ul>

      </div>

      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/bricks.jpg' %}" alt="bricks">
      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/ironrods.jpg' %}" alt="ironrods">
      </div>

      <div class="col-md-5 ">
        <h5 class="text-center">Iron rods</h5>
        <ul>
          <li>Description : Small, medium and large iron rods</li>
          <li>Price : Kshs. 250, 370 & 510 respectively.</li>
          <li>Contact Information : 0792 345001</li>

          <br>
          
         <button type="button" onclick="order();" class="btn btn-warning"> Order now</button>  

        </ul>
      </div>
    </div>


   <hr>

    <div class="row m-3 p-3">
      <div class=" col-md-5 ">
        <h5 class="text-center"> Sewer Pipes </h5>
        <ul>
          <li>Description : Sewer pipes, 3 & 4 metres (both orange and grey)</li>
          <li>Price : Kshs. 450</li>
          <li>Contact Information : 0789 341003</li>
          <br>
        
         <button type="button" onclick="order();" class="btn btn-warning"> Order now</button>  

        </ul>

      </div>

      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/sewerpipes.jpg' %}" alt="pipes">
      </div>
    </div>
     <hr>

     <div class="row m-3 p-3">
      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/construction.jpg' %}" alt="steel">
      </div>

      <div class=" col-md-5 ">
        <h5 class="text-center"> Long steel rods </h5>
        <ul>
          <li>Description : Steel rods , both 2 & 3 metres long. Offer cutting services.</li>
          <li>Price : Kshs. 1350 per metre.</li>
          <li>Contact Information : 0712 435670</li>
          <br>
        
         <button type="button" onclick="order();" class="btn btn-warning"> Order now</button>  

        </ul>
      </div>
    </div>
     <hr>
     <div class="row m-3 p-3">

      <div class=" col-md-5 ">
        <h5 class="text-center"> Bull Dozer </h5>
        <ul>
          <li>Description : Bulldozer in near mint condition.Serviced every three months so low probability of breaking down.</li>
          <li>Price per day : Kshs. 7,000</li>
          <li>Contact Information : 0724 196745</li>
          <br>
          
         <button type="button" onclick="order();" class="btn btn-warning"> Order now</button>  

        </ul>
      </div>

      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/bulldozer.webp' %}" alt="bulldozer">
      </div>
    </div>
  </div>
{% endblock content %}

