{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
{% load static %}


  <div class="container">
     <h1  style="font-size: 40px;color: #0E3642">Products</h1>
     <hr>
           <div class="row text-center ml-5">
                <div class="card col-lg-7 col-md-7 col-sm-12 col-xs-12 image p-3">
                    <a href="{% url 'clo' %}">
                       <img src="{% static 'images/CLOTHES.jpg' %}" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="400" class="card-img-top image-fluid" alt="CLOTHES">
  
                        <h4 class="mtaa">CLOTHES
                        </h4>
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <br><br> <br> <br> 
                        <h2 class="">Clothes Line</h2>
                        <hr>
                        <p>We all need a pair or two of new official/casual clothes every once in a while. Worry not, we have a collection of clothes that will enusre you stand out in your work place. </p>
                    
                </div> 
           </div>
        <hr>
        <div class="row text-center ml-5">
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <br><br> <br> <br> 
                        <h2 class="">Construction materials</h2>
                        <hr>
                        <p>Having a construction projct can be hectic as it is. Knowing where to get various construction materials can ease the heavy burden. Check out these materials offered by the various vendors in our community.</p>   
                    
                </div> 
                <div class="card col-lg-7 col-md-7 col-sm-12 col-xs-12 image p-3">
                    <a href="{% url 'construction' %}">
                      
                       <img src="{% static 'images/BUILDING.jpg' %}" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="400" class="card-img-top image-fluid" alt="BUILDING">  
                        <h4 class="mtaa">Constructions 
                        </h4>
                    </a>
                </div>
            
           </div>
          <hr>
          <div class="row text-center ml-5">
                <div class="card col-lg-7 col-md-7 col-sm-12 col-xs-12 image p-3">
                    <a href="{% url 'groceries' %}">
                       <img src="{% static 'images/GROCERIES.jpg' %}" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="400" class="card-img-top image-fluid" alt="GROCERIES">

                        <h4 class="mtaa">GROCERIES
                        </h4>
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <br><br> <br> <br> 
                        <h2 class="">Groceries</h2>
                        <hr>
                        <p>An apple a day keeps the doctor awa they say. We are here to ensure visits to the doctor are kept to a minimum. Fresh groceries from vegetables to fruits offered in this platform. CHeck out mre inf on how to place orders. </p>     
                </div> 
           </div>

        <hr>
      <div class="row text-center ml-5">
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <br><br> <br> <br> 
                        <h2 class="">Quick shopping</h2>
                        <hr>
                        <p>Tired of the very long queues at the supermarkets? Well </p>
                    
                </div> 
                <div class="card col-lg-7 col-md-7 col-sm-12 col-xs-12 image p-3">
                    <a href="{% url 'shopping' %}">
                      
                      <img src="{% static 'images/SHOPPING.jpg' %}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="400" class="card-img-top image-fluid" alt="SHOPPING">   
                        <h4 class="mtaa">QUICK SHOP
                        </h4>
                    </a>
                </div> 
           </div>    
    <hr>
</div>
{% endblock content %}    

   
