{% load static %}


<div class="container">
  
    <div class="row">  <hr>
       
    </div>
    <div class="row">
         
            <div class="shadow p-3 mb-4 bg-body rounded-top border-top border-2 border-aquamarine" style="border-radius:10px;">
              <div class="card-header">
                <h2 class="card-title text-center"><a style="text-decoration:none;" href="" target="_blank"></a></h2>

              </div>
              
              <img class="card-img-top" class="img-responsive" src="" size="100px100"style="border-radius:15px; ">

              

            </div>
            <div class="card-body">
         
    </div>
</div>
<hr>  
