{% extends 'base.html' %}
{% load static %}
{% block content %}

<hr>
<h5 class="text-center">General Shopping</h5>
<hr>
  <div class="container">
    <div class="row m-3 p-3">
      <div class="card col-md-6 ">
        
        <img src="{% static 'images/meat.webp' %}" alt="meat">
      </div>

      <div class=" col-md-4 ">
        <h5> Meats</h5>
        <ul>
          <li>Description : Both red and white meat.</li>
          <li>Price : Kshs. 450 per kilo</li>
          <li>Contact Information : 0711 245876</li>

         
          <button onclick="order();">Order now </button>

        </ul>



      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      
      <div class="col-md-4 ">
        <h4>Confectionery</h4>
        <ul>
          <li>Description : All sorts of candy.</li>
          <li>Price : Kshs. 200 per kilo.</li>
          <li>Contact Information : 0722 345768</li>
          
          <button onclick="order();">Order now</button>
         

        </ul>

      </div>

      <div class="card col-md-6 ">
        
        <img src="{% static 'images/candy.jpg' %}" alt="candy">
      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      <div class="card col-md-6 ">
        
        <img src="{% static 'images/Toiletries.jpg' %}" alt="toiletries">
      </div>

      <div class="col-md-4 ">
        <h5>Toiletries</h5>
        <ul>
          <li>Description : All your shopping needs in one go.</li>
          <li>Price : Price varies per item.</li>
          <li>Contact Information : 0723 900236</li>

          <button onclick="order();">Order now </button>

        </ul>
      </div>
    </div>

<hr>
    <div class="row m-3 p-3">

      <div class="card col-md-4 ">
        
        <img src="{% static 'images/cookingoil.jpg' %}" alt="oil">
      </div>

      <div class="col-md-3 ">
        <h5>General Shopping</h5>
        <ul>
          <li>Description : Cooking oil, cereals and cooking ingredients.</li>
          <li>Price : Kshs. 250 per every kilo of cereal.</li>
          <li>Contact Information : 0721 345001</li>

          <button onclick="order();">Order now </button>

        </ul>
      </div>

      <div class="card col-md-4 ">
        
        <img src="{% static 'images/cook.jpg' %}" alt="cereals">
      </div>
    </div>
    <hr>

  </div>


{% endblock content %}    

{% block script %}

<script type="text/javascript">

  function order() {
    swal({
              title: "Order succesfully placed!",
              text: "Your order was sent to the vendor!Vendor will reach out to you within 24 hrs/Call the number listed!",
              icon: "success",
              button: "Thank you and come again!",
            });
    

  } 
</script>
   
  {% endblock %}