{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <h5 class="text-dark" style="font-size: 40px">General Shopping</h5>
     <hr>
    <div class="row m-3 p-3">
      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/meat.webp' %}" alt="meat">
      </div>

      <div class=" col-md-5 ">
        <h5 class="text-center"> Meats</h5>
        <ul>
          <li>Description : Both red and white meat.</li>
          <li>Price : Kshs. 450 per kilo</li>
          <li>Contact Information : 0711 245876</li>
          <br>
          <button type="button" onclick="order();" class="btn btn-warning"> Order now</button> 

        </ul>
      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">   
      <div class="col-md-5 ">
        <h4 class="text-center">Confectionery</h4>
        <ul>
          <li>Description : All sorts of candy.</li>
          <li>Price : Kshs. 200 per kilo.</li>
          <li>Contact Information : 0722 345768</li>
            <br>
          <button type="button" onclick="order();" class="btn btn-warning"> Order now</button> 
         

        </ul>

      </div>

      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        <img src="{% static 'images/candy.jpg' %}" alt="candy">
      </div>
    </div>

    <hr>

    <div class="row m-3 p-3">
      <div class="card col-md-7 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        <img src="{% static 'images/Toiletries.jpg' %}" alt="toiletries">
      </div>

      <div class="col-md-5 ">
        <h5 class="text-center">Toiletries</h5>
        <ul>
          <li>Description : All your shopping needs in one go.</li>
          <li>Price : Price varies per item.</li>
          <li>Contact Information : 0723 900236</li>
  <br>
          <button type="button" onclick="order();" class="btn btn-warning"> Order now</button> 

        </ul>
      </div>
    </div>

<hr>
    <div class="row m-3 p-3">
      <div class="card col-md-4 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/cookingoil.jpg' %}" alt="oil">
      </div>

      <div class="col-md-4 ">
        <h5 class="text-center">General Shopping</h5>
        <ul>
          <li>Description : Cooking oil, cereals and cooking ingredients.</li>
          <li>Price : Kshs. 250 per every kilo of cereal.</li>
          <li>Contact Information : 0721 345001</li>
  <br>
          <button type="button" onclick="order();" class="btn btn-warning"> Order now</button> 

        </ul>
      </div>

      <div class="card col-md-4 mr-0" style="max-width:70rem; margin-top:5px;box-shadow: aquamarine 0px 7px 29px 0px;">
        
        <img src="{% static 'images/cook.jpg' %}" alt="cereals">
      </div>
    </div>
  </div>
{% endblock content %}    
