{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container text-dark">
      <div class="row"> 
          <div class="column col-5">
            <br><br> <br> 
            <h1 style="color: black; font-size: 56px;font-weight: bold;">Community Aid <br> Network</h1>
            <hr>
            <p style="font-size: 20px; color: black; font-weight: 400;">Humanity to the Core</p>
            <br>
            <br/>
            <button type="button" class="button" ><a href="#about" style="text-decoration:none" class="text-dark">Get Started</a></button>
          </div>
          <div class="column col-7">
            <img src="/static/images/women.jpg" style="border-radius: 10px;   border-bottom-left-radius: 120px; box-shadow: 2px 2px 7px rgba(3,3,3,0.2); height:70vh;"  class="image image-fluid"style="width:100%">
          </div>
      </div>
</div>
<br><br> <br>
<div style="background-color: #0E3642; height: 75vh; width: 100%; border-radius: 8px;">
     <div class="container" id="about">
           <br><br> 
          <div class="row">
            <div class="column col-md-6">
              <img src="/static/images/team6.jpg"style=" border-radius: 5px;" heigt="70vh"class="image image-fluid" style="width:100%">
            </div>
            <div class="column col-md-6">
              <h1 style="color: #645B15">About Us</h1>
              <hr class="text-light">
                <p class="text-light fs-6" style=" font-weight: 600;">CAN is a website where neighbours help each other through creating jobs, offering an affordable shopping experience, and supporting non-profit partners serving our local community. </p>
                <br>
                  <div class="d-flex ">
                    <button class="button ml-2"><a href="{% url 'services' %}" style="text-decoration:none" class="text-dark">Services</a></button>
                    <button class="button ml-2"><a href="{% url 'product' %}" style="text-decoration:none" class="text-dark">Products</a></button>
                </div>
            </div>
          </div>
    </div>
</div>

  <br>
       <div class="">
         <br/>
        <h2 class="text-center"style="color: rgb(58, 113, 121);">Meet The Team</h2> <hr/>
       </div>
       
       <div class="row d-flex">
          <div class="col-md-4">
            <br>
            <img src="/static/images/team3.png" alt="Avatar"style="border-radius: 20px; box-shadow: 2px 2px 7px rgba(3,3,3,0.8);" class="image image-fluid" class="image" >
            <div class="overlay"> <br> 
               <h2><b>Caren Chepkorir</b></h2>
               <p>Research Consultant</p> 
          </div>
          </div>
    
          <div class="col-md-4">
             <br/>
            <img src="/static/images/j.jpg" alt="Avatar" style="border-radius: 20px; box-shadow: 2px 2px 7px rgba(3,3,3,0.8);" class="image image-fluid">
            <div class="overlay"> 
               <h2><b>Sir Felix </b></h2>
               <p>Managing Director</p>
             </div>
          </div> 

          <div class="col-md-4"> 
            <br>
            <img src="/static/images/team3.png" alt="Avatar" style="border-radius: 20px; box-shadow: 2px 2px 7px rgba(3,3,3,0.8);" class="image image-fluid"class="image">
            <div class="overlay">
               <h2><b>Maureen Njung'e </b></h2>
               <P>Business Consultant</P>
            </div>
          </div>
        </div> 
        <br> 
        <br>
        <br>
         <div class="slideshow-container center">
          <div style="text-align:center"> <br/><br><br>
            <h2 style="color: rgb(58, 113, 121); font-size:30px">Testimonials</h2>
            <p style="font-size:18px">Your word our take </p>
            <hr>
          </div>
          <div class="mySlides" style="background-color:white; border-radius:10px;">
             <h2 class="text-center"><img src="/static/images/avato2.png" alt="Avatar" class="avatar" style="height:150px;width:150px"></h2>
             <br>
            <q class="text-">I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
            <p class="author">Paul Adams</p>
            <p class="text-center text-">Shoe Shinner</p>
          </div>
          <div class="mySlides" style="background-color:white; border-radius:10px;">
            <h2 class="text-center" ><img src="/static/images/avato2.png" alt="Avatar" class="avatar" style="height:150px;width:150px"></h2>
            <br>
            <q class="" sty>But man is not made for defeat. A man can be destroyed but not defeated.</q>
            <p class="author">Ernest Hemingway</p>
            <p class="text-center text"> Web Designer</p>
          </div>
          <div class="mySlides" style="background-color:white; border-radius:10px;">
            <h2 class="text-center" ><img src="/static/images/avato2.png" alt="Avatar" class="avatar" style="height:150px;width:150px"></h2>
            <br>
            <q class="text">I have not failed. I've just found 10,000 ways that won't work.</q>
            <p class="author">- Thomas A. Edison</p>
            <p class="text-center text-dark" > Developer</p>
          </div>
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
          </div>
          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
{% endblock %}

