{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
       <div class="col-md-12 mt-3">
        <br>
          <h1 class="" style="font-size: 40px;color: #0E3642"> Clothes</h1>
        </div>
         <hr>
      <div class="row" style=" border-bottom: 1px solid white">
        {% for cloth in clothes %}
        <section class="global-page-header"style="border-radius: 15px; border-top: 2px solid white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="fw-bold text-dark">{{ cloth.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <br>
    <hr>
        <section class="portfolio-single">
            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-single-img">
                        <br><br> <br>
                            <img src="{{cloth.c_photo.url}}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);" class="card-img-top image-fluid" height="" width="" alt="">
                        </div>
                    </div>
                    <div class="col-md-6" style="border-left: 1px solid black;border-radius: 10px;">
                        <div class="portfolio-content">
                            <h3 class="sub fw-bold text-dark" style="color:#0E3642;">Clothes Details</h3>
                            <hr>
                                    <h5 class="subtitle text-dark">Size: {{cloth.size}}</h5>
                                    <h5 class="subtitle text-dark">For: {{cloth.category}}</h5>
                                    <p class="subtitle text-dark"><b>Description:</b> {{cloth.description |safe}}</p>
                            </div>
                        
                            <hr>
                            <h4 class="subtitle text-dark"> Owners: {{cloth.owner}} Contacts</h4>
                        
                            <div class="modal-footer" style="display:block;">
                                        <p><span><b>Phone Number:</b></span> {{cloth.email}}</p>
                                        <p><span><b>Address:</b></span>{{cloth.address}}</p>
                                        <p><span><b>Email:</b></span> {{ cloth.contact}}</p>
                                    <hr>
                                    <br>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        {% endfor %}
        <br>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-lg btn-info" style="float: right; border-radius: 20px">
                <a class=" text-dark fs-4 " style="text-decoration: none;" href="{% url 'add_info' %}">Clothes Add</a>      
            </button>     
        </div>
    </div>  
</div>  
{% endblock %}