{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
      <div class="col-md-12 mt-3">
        <br>
          <h1 class="text-center" style="font-size: 50px"> Clothes</h1>
          <hr>
        </div>
          <a class="nav-link fs-6" href="{% url 'add_info' %}">Clothes add</a>
     
      <div class="row" style=" border-bottom: 1px solid white">
        {% for cloth in clothes %}
        <section class="global-page-header"style="border-radius: 15px; border-top: 2px solid white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="fw-bold text-light">{{ cloth.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <section class="portfolio-single">
        <div class="container text-light">
            <div class="row">
              
                <div class="col-md-6">
                    <div class="portfolio-single-img">
                    <br><br> <br>
                        <img src="{{cloth.c_photo.url}}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);" class="card-img-top image-fluid" height="300px" width="550px" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-content">
                        <h3 class="subtitle fw-bold text-dark">Clothes Details</h3>
                        <hr>
                        <p>
                          <span><b>Description:</b></span> {{cloth.description|safe}}
                        </p>
                        <h3 class="subtitle fw-bold text-dark">Size: {{cloth.size}}</h3>
                         <h3 class="subtitle fw-bold text-dark">For: {{cloth.category}}</h3>

                        <p><b>Owner:</b> {{cloth.owner}}</p>
                        <hr>
                            <div class="modal-footer" style="display:block;">
                                <h4 class="text-center fw-bold">Owners Contacts</h4>
                                <hr>
                                <br>
                                <p><span><b>Phone Number:</b></span> {{cloth.contact}}</p>
                                <p><span><b>Address:</b></span> {{cloth.address}}</p>
                                <p><span><b>Email:</b></span> {{cloth.email}}</p>
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
        {% endfor %}
   </div>
  </div>
</div>

{% endblock %}