{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
       <div class="col-md-12 mt-3">
          <br>
          <h1 class="text-center text-dark"style="font-size: 25px"> Health Services</h1>
        </div>
          <hr>
      <div class="row">
        {% for health in medicalservices %}
        <section class="global-page-header"style="border-radius: 15px; border-top: 2px solid white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="fw-bold text-dark">{{health.name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <br>
    <hr>
            <section class="portfolio-single">
                <div class="container text-dark">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-single-img">
                            <br><br> <br>
                                <img src="{{health.m_photo.url}}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);" class="card-img-top image-fluid" height="" width="" alt="">
                                {% comment %} <img src="{{health.m_photo.url}}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);" class="card-img-top image-fluid" height="" width="" alt=""> {% endcomment %}
                                <img src="{% static 'images/medii.avif' %}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);" class="card-img-top image-fluid" height="300px" width="550px" alt=""> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-content">
                                <h3 class="subtitle fw-bold text-dark">Medical services Details</h3>
                                <br>
                                    <div class="modal-footer" style="display:block;">
                                    <br>
                                        <p><span><b>Daktari Name:</b></span> {{health.daktari}}</p>
                                        <p><span><b>Phone Number:</b></span> {{health.contact}}</p>
                                        <p><span><b>Address:</b></span> {{health.address}}</p>
                                        <p><span><b>Email:</b></span>  {{health.email}}</p>
                                    </div>
                                    <div class="modal-footer" style="display:block;">
                                        {% for medicalservice in health.medicalservices.all %}
                                        <button class="btn btn-warning">{{ medicalservice }}</button>
                                        {% endfor%}
                                    <div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
           <hr>
        <div class="text-center">
            <button type="button" class="btn btn-lg btn-success" style="float: right; border-radius: 20px">
                <a class=" text-dark fs-4 " style="text-decoration: none;" href="{% url 'add_medic' %}">Medic Add</a>      
            </button>      
        </div>
     </div> 
</div>
{% endblock %}