{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
{% load static %}
    <div class="container" id="">
        <br>
        <form class="form-inline mx-auto" role="search" action="{% url 'search' %}" method="get">
           <div class="form-group">
               <input type="text" class="form-control" role="search" placeholder="search" aria-label="Search" name="username">
               <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
      <div class="col-" >         
            <h5 style="margin-top: px; float:right;"> <a class="" href="/profile/{{user.id}}" style="text-decoration: none; font-weight: bold; margin-top:px;color:black;"  title="User">{{user}} <i class="fa-solid fa-user ml-2"></i></a></h5>
        </div> 
        <hr class="text-dark">
       <a class="nav-link fs-6" href="/profile/{{user.id}}">Profile</a>    
        <a class="nav-link fs-6" href="{% url 'update-profile' %}">Update Profile</a>
        <a class="nav-link fs-6" href="{% url 'clothes' %}">Clothes</a>
        <a class="nav-link fs-6" href="{% url 'add_info' %}">Clothes add</a>
        <a class="nav-link fs-6" href="{% url 'motivation' %}">Service Available</a>
        <a class="nav-link fs-6" href="{% url 'add_motive' %}">Add Service</a>
        <a class="nav-link fs-6" href="{% url 'medicalservices' %}">medicalservice</a>
        <a class="nav-link fs-6" href="{% url 'add_medic' %}">Medic add</a>
        <a class="nav-link fs-6" href="{% url 'donate_funds' %}">Donate Funds</a>
    </div>
   <br>
 
  <div class="container-fluid">
        <br>
        <h1 class="text-center" style="font-size: 50px"> <span class="text-muted">Services</span> </h1>
        <hr class="text-dark">
            <div class="row text-center ml-5">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 image">
                    <a href="{% url 'clothes' %}">
                        <img src="{% static 'images/clothes.avif' %}" alt="" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="500" class="card-img-top image-fluid">
                        <h4 class="mtaa">Clothes Line
                        </h4>
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <br><br> <br> <br> <br> <br>
                        <h4 class="">Clothes Line</h4>
                        <hr>
                        <p>
                            For the love of our Community members,you <br>can check some of the clothes in our Network Hub which <br> our membersare donating and those which are on sale too.Feel free <br>to contact the owner through our team marketer.More information <br>about sales items on Product page.
                        </p>
                    
                </div> 
           </div>
        <br>
        <hr class="text-dark">
            <div class="row text-center ml-5">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                       
                        <br><br> <br> <br> <br> <br>
                    
                     <h4 class="">SERVICES</h4>
                        <hr>
                        <p>
                            For the love of our Community members,you <br>can check some of the Services in our Network Hub <br>which our member are offering and the time they are <br>available.Feel free to contact the owner through our <br>team marketer or directly.
                        </p>
                    
                </div> 
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 image card bg-light shadow-lg bg-body rounded">
                    <a href="{% url 'motivation' %}">
                        <img src="{% static 'images/servv.avif' %}" alt="" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="500" class="card-img-top image-fluid">
                        <h4 class="mtaa">Service Available</h4>
                        
                    </a>
                </div>
           </div>
        <br>
        <hr class="text-dark">
            <div class="row text-center ml-5">
                 <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 image">
                    <a href="{% url 'medicalservices' %}">
                        <img src="{% static 'images/meed.avif' %}" alt="" style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="500" class="card-img-top image-fluid">
                        <h4 class="mtaa">Medical Attentions</h4>
                        
                    </a>
                  </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                     <br><br> <br> <br> <br> <br>
                      <h4 class="">Medical Attentions</h4> 
                    
                        <hr>
                        <p>
                            For the love of our Community members,you <br>can check some of the Medical Services available and<br> Daktari Details in our Network Hub which our Community <br>members are providing.Feel free to contact the Daktari<br> through our team marketer or directly<br>  and Daktari will show up.
                        </p>
                       
                </div> 
           </div>
    </div>    
 </div>
    <style>
        .mtaa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            padding: 5%;
            text-align: center;
            color: white;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
    
        .mtaa:hover {
            background-color: rgba(255, 255, 255, 0.7);
            color: black;
            font-family: 'Montserrat', sans-serif;
            border-radius:20px;
            border-top:2px solid rgba(255, 255, 255, 0.5);
        }
    
        .image {
            padding: 0 !important;
        }
           body {
      font-family: "Lato", sans-serif;
      transition: background-color .5s;
    }
   
    input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    }

    button:hover {
    background: #ccc;
    }

    @media screen and (max-width: 600px) {
    
        input[type=text], button {
          float: none;
          display: block;
          text-align: left;
          width: 100%;
          margin: 0;
          padding: 14px;
        }
        input[type=text] {
          border: 1px solid #ccc;  
        }
      }
      
    </style> 
  
{% endblock %}