 
 <br><hr><br>
 <section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">REACH OUT!!</h2> 
                        <h3 class="text-center fw-light"> Email us at :<a href="mailto:communityan22@gmail.com?Subject=Hello%C.A.N" target="_top"style="border-radius:10px;color:;text-decoration:none;color:#EFB479;"> communityan22@gmail.com</a></h3>
                       <h2><a href="mailto:communityan22@gmail.com?Subject=Hello%Sayia" target="_top" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                            data-wow-duration="500ms" style="border-radius:10px;">Contact Us</a></h2>

                </div>
            </div>
        </div>
    </div>
</section>
<footer>
      <div class="container">
         <div class="row">
              <div class="col-4">
                 <div class="row d-flex">
                  <h2>Social Handles<h2><br>
                        
                  {% comment %} <a href="mailto:hege@example.com">hege@example.com</a></p> {% endcomment %}
                  <a style="text-decoration: none; color:black; font-size:25px;" href="#"><i class="fa fa-facebook-official"></i></a>
                  <a style="text-decoration: none; color:black; font-size:25px;"href="#"><i class="fa fa-pinterest-p"></i></a>
                  <a style="text-decoration: none; color:black; font-size:25px;" href="#"><i class="fa fa-twitter"></i></a>
                  <a style="text-decoration: none; color:black; font-size:25px;" href="#"><i class="fa fa-flickr"></i></a>
                  <a style="text-decoration: none; color:black; font-size:25px;" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <div class="col-4">
                <div class="row d-flex">
                  <h2>Products</h2>
                  <a style="text-decoration: none; color:black;"href="{% url 'groceries' %}">Groceries</a>
                    <a style="text-decoration: none; color:black;"href="{% url 'clo' %}">Clothes Line</a>
                    <a style="text-decoration: none; color:black;"href="{% url 'shopping' %}">Quick shopping</a>
                    <a style="text-decoration: none; color:black;"href="{% url 'construction' %}">Construction Materials</a>
                  </div>
              </div>

              <div class="col-4">
                  <div class="row d-flex">
                        <h2>Services</h2>
                        <a style="text-decoration: none; color:black;"href="{% url 'clothes' %}">Clothes</a>
                          <a style="text-decoration: none; color:black;"href="{% url 'medicalservices' %}">Medical Service
                        <a style="text-decoration: none; color:black;"href="{% url 'motivation' %}">Service Available</a>
                      </a>
                  </div>
              </div>
         </div>     
      </div>
</footer>
<hr>
<div style="background-color: #fff;">
   <div class="container">
         <div class="col-md-12">
               <p class="copyright text-center fs-6">&copy; <span>
                     <script>document.write(new Date().getFullYear())</script></span> <br><b>Community Aid Network</b> <br> All  rights  reserved  CAN.
               </p>
         </div>
      </div>
</div>
{% comment %} <div>
    <footer class="container padding-64 center black xlarge">
       <a href="#"><i class="fa fa-facebook-official"></i></a>
       <a href="#"><i class="fa fa-pinterest-p"></i></a>
       <a href="#"><i class="fa fa-twitter"></i></a>
       <a href="#"><i class="fa fa-flickr"></i></a>
       <a href="#"><i class="fa fa-linkedin"></i></a>
       
    </footer>
   </div> {% endcomment %}
 